body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: url('../images/spiderman-background.jpg') no-repeat center center fixed;
    background-size: cover;
    text-shadow: 1px 1px 2px black;
}

/* Navigation Styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #24dce6;
}

/* Content Styling */
.content {
    padding: 20px;
    background-color: rgba(6, 30, 243, 0.524);
    margin: 50px auto;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1, h3 {
    text-align: center;
    color: #100d0d;
}

iframe {
    display: block;
    margin: 20px auto;
}

.anchor-link {
    color: #ffcc00;
    text-decoration: underline;
}

/* Tableau Embed */
.tableau-embed {
    margin: 20px auto;
    text-align: center;
}

/* Footer Styling */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.image-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Use full viewport height */
}